<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/styleSheet/stars.css">

    <div class="row">
      <!-- LEFT SIDE -->
        <div class="col-6">          

            <div class="card mb-3">
              <!-- img carousel -->
              <div class="card-img-top">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <% campground.images.forEach((img, i) => {%>
                    <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
                      <img src="<%= img.url %>" class="d-block w-100" alt="">
                    </div>
                    <% }) %>
                  </div>
                  <%if(campground.images.length > 1) {%>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                  <% } %>
                </div>
              </div>

                <div class="card-body">
                  <h5 class="card-title"><%= campground.title %></h5>
                  <p class="card-text">
                    <%= campground.description %>  </br>
                    <p class="text-muted text-end">Shared by 
                      <span class="fst-italic text-muted d-inline text-capitalize"><%= campground.author.username %></span>
                    </p>
                  </p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item text-muted"><%= campground.location %></li>
                  <li class="list-group-item">€<%= campground.price %>/night</li>
                </ul>
                <% if(currentUser && campground.author.equals(currentUser._id)) {%>
                <div class="card-body">
                  <a href="/campgrounds/<%= campground._id%>/edit" class="card-link btn btn-info">Edit</a>
                  <form class='d-inline' action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                  </form>
                </div>
                <% } %>
                <div class="card-footer text-muted">
                  <%= moment(campground.date).fromNow() %>
                </div>
              </div>
        </div>
        <!-- RIGHT SIDE -->
        <div class="col-6">
                <!-- MAP -->
                <div id='map' ></div>
                <!-- reviews BOX -->
                <div class="card my-5">
                  <div class="card-header text-center">
                    Reviews
                  </div>
                  <!-- NO LOGIN -->
                  <% if(!currentUser) {%>
                    <div class="card-body text-center">
                      <h5 class="card-title">You are visitor right now.</h5>
                      <p class="card-text">Log in or register to comment or edit :)</p>
                      <a href="/login" class="btn btn-primary">Login</a>
                    </div>
                  <% } %>  
                  <!-- LOGGED IN AND SHOW REVIEW FORM -->
                  <% if(currentUser) {%>
                    <div class="mx-3">
                      <form method="post" action="/campgrounds/<%= campground._id %>/reviews" class="mb-3 validate-form" novalidate>
                      
                        <div class="mb-3">
                          <fieldset class="starability-basic">
                            <legend class='form-label fs-6'>Overall rating:</legend>
                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                          </fieldset>
                        </div>
                      
                        <div class="mb-3">
                          <legend class='form-label fs-6' for="body">Add a written review:</legend>
                          <textarea class="form-control" name="review[body]" id="body" cols="30" rows="2" required></textarea>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        </div>
                        <button class="btn btn-primary w-100">Submit</button>
                      </form>
                    </div>
                    <% } %>
                    <!-- REVIEWS -->
                    <!-- NONE -->
                    <% if(campground.reviews.length === 0) { %>
                        <p class="card-text text-muted text-center mb-2">No one has reviewed it yet, leave your first comment!</p>   
                    <% } else { %>
                      <!-- SHOW REVIEW -->
                      <div class="overflow-auto w-100" style="height: 200px">
                        <% for(let review of campground.reviews) { %>
                          <div class="card-body bg-light bg-gradient rounded-end mb-2">
                            <!-- <h5 class="card-title">Rating: <%= review.rating %></h5> -->
                            <h6 class="card-subtitle mb-2 text-muted text-capitalize"><%= review.author.username %> :</h6>
                            <p class="starability-result" data-rating="<%= review.rating %>">
                              <%= review.rating %> stars rated
                            </p>
                            <p class="card-text">"<%= review.body %>"</p>
      
                            <!-- REVIEW.AUTHOR EDIT REVIEW -->
                            <% if(currentUser && review.author.equals(currentUser._id)) {%>
                            <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                              <button 
                              class="btn btn-sm btn-danger"
                              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .7rem;">DELETE</button>
                            </form>
                            <% } %>
                          </div>
                        <% } %>
                      </div>
                    <% } %>
                  </div>


               
        </div>
    </div>
    <!-- MAPBOX -->
    <script>
      const mapToken = '<%- process.env.MAPBOX_TOKEN %>'
      const campground = <%- JSON.stringify(campground) %>
      
    </script>
    <script src="/Js/showPageMap.js"></script>

